/* App Styles */

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.screen-wrapper {
  animation: fadeSlideIn 0.6s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}